/.idea/
.DS_Store
**/.DS_Store
/logs/
/arelore-client/arelore-client-mini/*/dist/
/arelore-client/arelore-client-mini/*/node_modules/
/arelore-client/arelore-client-mini/*/.swc/
/arelore-server/arelore-server-admin/src/main/resources/sql/arelore_education/软考/
